.footer{
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
    // position: absolute;
    &-powred{
        padding: 0 5px;
        color: var(--primary-color) !important;
    }
}